/* ------------universal css-------------- */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    display: flex;
    /* width: 1160px; */
    /* height: 44px; */
}
.grid-container{
    display: grid;
}
.link-button{
    display: flex;
    text-decoration: none;
    width: 89.98px;
    height: 32.88px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-between;
}
.fa-arrow-right{
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10.4px;
}
.fab{
    font-size: 32px;
    margin-left: 14px;;
}
/* ------------css for header-------------- */
header{
    background-color: #2D25A0;
    height: 695px;
    padding-top: 42px;
    padding-right: 144px;
    padding-left: 156px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
nav{
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 67px; */
}
nav ul{
    /* border: 1px solid white; */
    list-style-type: none;
    /* justify-content: space-around; */
}
nav ul li{
    padding-top: 10px;
    padding-right: 48px;
    padding-bottom: 10px;
    padding-left: 0px;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
.login{
    /* padding: 10px 24px; */
    /* align-items: center;
    justify-content: space-between; */
}
.top-banner{
    margin-top: 0px;
}
.banner-container{
    justify-content: space-between;
}
.banner-title{
    /* width: 50%; */
    /* border: 2px solid white; */
}
.banner-title h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 102px;
    margin-top: 121px;
}
.banner-title .banner-button{
    display: flex;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-around;
    margin-top: 27px;
    margin-bottom: 169px;
}
.banner-image{
    /* width: 50%; */
    /* margin-left: 90px; */
    /* border: 2px solid white; */
    margin-top: 67px;
}
.banner-image:hover{
    transform: translateY(30px) scale(1.2);
    transition: transform .9s ease-out;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}
/* ------------css for main-------------- */
main{
    background-color: #FFFFFF;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------css for players----------------- */
.players{
    width: 1050px;
    /* height: 447px; */
    /* border: 2px solid blue; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    /* border: 2px solid tomato; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-detail{
    /* margin-left: 14px; */
}
.player-detail img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0px 15px;
}
.player-info{
    margin: 16px 15px 0px 15px;
    /* margin-bottom: 33px; */
    width: 300px;
    /* height: 154px; */
    /* height: 160px; */
    margin-bottom: 33px;
}
.player-info h1{
    margin-top: 0px;
    margin-bottom: 10px;
}
.player-info p{
    margin-top: 10px;
}
/* ------------css for highlights-------------- */
.highlights{
    /* border: 2px solid tomato; */
    margin-top: 165px;
    justify-content: flex-start;
    margin-bottom: 158px;
}
.high-detail{
    width: 466px;
    height: 309px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.high-detail h1{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.high-detail p{
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: 62px;
}
.high-detail .high-button{
    display: flex;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    margin-right: 293px;
}
.high-image{
    /* border: 1px solid blue; */
}
.high-image img{
    width: 567px;
    height: 427px;
    margin-left: 69px;
}
/* ------------css for footer-------------- */
footer{
    justify-content: center;
    margin-bottom: 63px;
}
.footer-detail{
    width: 483.87px;
    height: 213px;
    flex-direction: column;
    align-items: center;
}
.footer-detail img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.footer-detail .footer-social{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
}