/* ------------universal css-------------- */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    display: flex;
}
.grid-container{
    display: grid;
}
.link-button{
    display: flex;
    text-decoration: none;
    width: 89.98px;
    height: 32.88px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-between;
}
.fa-arrow-right{
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10.4px;
}
.fab{
    font-size: 32px;
    margin-left: 14px;;
}
/* ------------css for header-------------- */
header{
    background-color: #2D25A0;
    height: 695px;
    padding-top: 42px;
    padding-right: 144px;
    padding-left: 156px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
nav{
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding-top: 10px;
    padding-right: 48px;
    padding-bottom: 10px;
    padding-left: 0px;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
.top-banner{
    margin-top: 0px;
}
.banner-container{
    justify-content: space-between;
}
.banner-title{
    margin-right: 99px;
}
.banner-title h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    margin-top: 121px;
    margin-bottom: 0px;
}
.banner-title .banner-button{
    display: flex;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-around;
    margin-top: 27px;
    margin-bottom: 169px;
}
.banner-image{
    margin-top: 67px;
}
.banner-image:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: transform .9s ease-out;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}
/* ------------css for main-------------- */
main{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------css for players----------------- */
.players{
    width: 1050px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-detail img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0px 15px;
}
.player-info{
    margin: 16px 15px 0px 15px;
    width: 300px;
    margin-bottom: 33px;
}
.player-info h1{
    margin-top: 0px;
    margin-bottom: 10px;
}
.player-info p{
    margin-top: 10px;
}
/* ------------css for highlights-------------- */
.highlights{
    margin-top: 165px;
    justify-content: flex-start;
    margin-bottom: 150px;
}
.high-detail{
    width: 466px;
    height: 309px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.high-detail h1{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.high-detail p{
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: 62px;
}
.high-detail .high-button{
    display: flex;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    margin-right: 293px;
}
.high-image img{
    width: 567px;
    height: 427px;
    margin-left: 69px;
}

/* ------------css for gallery section-------------- */
.copa-gallery{
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
}
.copa-gallery h1{
    font-size: 44px;
    line-height: 80px;
    font-weight: bold;
    border-bottom: 5px solid black;
    margin-top: 0;
    margin-bottom: 0px;
}
.gallery{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    margin-top: 25px;
}
.gallery div{
    overflow: hidden;
}
.gallery div img{
    height: 200px;
    width: 260px;
}
.gallery div:hover{
    transform: scale(1.05);
    transition: transform 1s ease-out;

}

/* ------------css for email section-------------- */
.email-sec{
    margin-bottom: 158px;
}
.email-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-container input[type="email"]{
    padding: 24px;
    width: 435px;
    border: 2px solid #E02C6D;
    font-size: 1.2em;
    font-weight: bold;
}
.email-container .email-link{
    text-decoration: none;
    margin-top: 15px;
    padding: 15px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700px;
    border: none;
}
.fa-envelope{
    margin-right: 10px;
    font-size: 1.2em;
}
/* ------------css for footer-------------- */
footer{
    justify-content: center;
    margin-bottom: 63px;
}
.footer-detail{
    width: 483.87px;
    height: 213px;
    flex-direction: column;
    align-items: center;
}
.footer-detail img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.footer-detail .footer-social{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
}
.footer-social a{
    text-decoration: none;
    color: gray;
}

/* ------------media queires-------------- */
@media only screen and (max-width: 688px) {
    header{
        display: block;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-container{
        display: none;
    }
    .top-banner{
        width: 100%;
        margin-left: 16px;
    }
    .banner-container{
        display: block;
        flex-direction: column;
    }
    .banner-title h1{
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        margin-top: 0;
    }
    .banner-image{
        margin-bottom: 60px;
    }
    .banner-image img{
        width: 329px;
        height: 259.17px;
    }
    .players{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
    }
    .highlights{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .high-detail{
        width: 328px;
        height: 248px;
    }
    .high-image{
        margin-top: 150px;
    }
    .high-image img{
        width: 328px;
        height: 248px;
        margin-top: 100px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .email-container{
        width: 329px;
        height: 259.17px;
    }
    .email-container input[type="email"]{
        width: 300px;
    }
    footer{
        width: 100%;
    }
    .footer-detail img{
        width: 266px;
    }
}
    